# Pandas

В этом задании предлагается провести небольшой анализ данных датасета [studens](https://archive.ics.uci.edu/ml/datasets/Student+Performance#), в котором содержатся данные об успеваемости учеников старших классов.
Описание полей вы можете найти на [сайте](https://archive.ics.uci.edu/ml/datasets/Student+Performance#)

In [1]:
import pandas as pd
%matplotlib inline

## Задание 1 ★☆☆

Считайте файл в переменную `data` определите размер таблицы.

In [2]:
data = pd.read_csv('data/student-mat.csv', sep =';')

In [3]:
# размер это tuple (количество строк, количество столбцов)
shape = data.shape

Значение для формы

In [4]:
print(' '.join(map(str, shape)))

395 33

Посмотрите первые пять строк

In [5]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

Выведите список названий столбцов

In [6]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

## Задание 2 ★☆☆

Определите количество студентов, у которых оценка G1 выше среднего.

In [7]:
mask = data['G1'] > data['G1'].mean()
more_than_mean = len(data[mask])

Значение для формы

In [8]:
print(more_than_mean)

202

## Задание 3 ★☆☆

Определите значение для поля `absences` после сортировки по убыванию по полю `G3`, которое находится на 100 позиции после сортировки (отсчет с 0).

In [9]:
absences_at_100 = data.sort_values('G3', ascending=False).reset_index()['absences'][100]

Значение для формы

In [10]:
print(absences_at_100)

6

## Задание 4 ★☆☆

Определите долю студентов женского и мужского пола.

In [11]:
# получите объект series индексы которого: F и M
f=(data['sex']=='F').mean()
m=(data['sex']=='M').mean()
serires_object = pd.Series(data=[f,m], index=['F', 'M'])
serires_object

F    0.526582
M    0.473418
dtype: float64

Значение для формы

In [12]:
print("{:.3f} {:.3f}".format(serires_object['M'], serires_object['F']))

0.473 0.527

## Задание 5 ★★☆

Определите общее количество пропущенных значений в таблице.

In [13]:
null_count = data.isna().sum()

Значение для формы

In [14]:
print(null_count)

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

## Задание 6 ★★☆

Определите уникальные значения 'Mjob', отсортируйте их по алфавиту, сопоставьте каждому значению его позицию в отсорированном списке и замените значения в таблице на его позицию. Например, если вы получили список уникальных значений ['a', 'c', 'f'], то вместо 'a' везде нужно поставить 0, вместо 'c' везде нужно поставить 1, а вместо 'f' - 
2.

In [23]:
keys = data['Mjob'].unique()
values = pd.DataFrame(keys).index.values
d = dict(zip(keys, values))
def do(el):
    global d
    return d.get(el)

In [28]:
data['Mjob'] = data['Mjob'].apply(do)

Значение для формы

In [29]:
print(data['Mjob'].value_counts().idxmax())

2

## Задание 7 ★★☆

Сгруппируйте данные по полю 'sex' и определите среднее значение, медиану и максимальное значение оценок 'G3'.
Подсказка: agg

In [31]:
# получите data frame с соответсвующими стрками (по полю sex) и столбцами (среднее, медиана и максимум)
df_grouped = data.groupby(['sex'])['G3'].agg(['mean', 'median', 'max'])

In [33]:
df_grouped

          mean  median  max
sex
F     9.966346      10   19
M    10.914439      11   20

Значение для формы

In [32]:
print("{:.3f}".format(df_grouped.sum().sum()))

80.881

## Задание 8 ★★☆

Определите среднее количество пропусков занятий ('absences') среди студентов, каждая оценка которых ('G1', 'G2', 'G3') выше медианы.

In [50]:
med = data[['G1','G2','G3']].median()
mask = (data[['G1','G2','G3']] > med).all(axis=1)
mean_score_high_level = data[mask]['absences'].mean()

Значение для формы

In [51]:
print("{:.4f}".format(mean_score_high_level))

4.4926

## Визуализация в pandas

Постройти распределение оценок 'G1'(гистограмму). Используйте методы для data frame и series.

In [40]:
# TODO

Постройте scatter plot по признакам 'G3'и 'absences'

In [41]:
# TODO